{% extends 'layouts/app.html' %}

{% block title %}Demo - Parser{% endblock %}

{% block body %}
      <div style="float:right;font-family: 'Gotham', sans-serif;position:relative;top:-20px">
         Welcome, Guest!
      </div>
      <div class="row">
        <span style="font-family:'Gotham', sans-serif;font-weight:500;font-size:30px;">
            Metrics Dashboard
        </span>
      </div><hr>
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
          <div class="panel-heading">
             <p>Recent Events</p>
          </div>
            <div class="panel-body-list" style="padding-bottom:5px; margin-bottom:20px">
                    {% for event in events %}
                        <span style="margin-right:5px">
                          {% if event.type == "charge.succeeded" %}
                          <span class="label label-success">Payment</span>
                          {% elif event.type == "charge.refunded" %}
                          <span class="label label-danger">Refund</span>
                          {% elif event.type == "charge.failed" %}
                          <span class="label label-danger">Failed</span>
                          {% elif event.type == "Upgrade" %}
                          <span class="label label-info">Upgrade</span>
                          {% elif event.type == "Downgrade" %}
                          <span class="label label-danger">Downgrade</span>
                          {% elif event.type == "customer.subscription.created" %}
                          <span class="label label-primary">New</span>
                          {% elif event.type == "customer.subscription.deleted" %}
                          <span class="label label-warning">Canceled</span>
                          {% endif %}
                        </span>
                        <span class="message">
                          {% if event.type == "charge.succeeded" %}
                          <span style="color:#e06c1f">{{ event.name }}</span> paid you <b>${{ "{:,.0f}".format(event
                          .amount) }}</b>
                          {% elif event.type == "charge.refunded" %}
                          You sent a refund of <b>${{ "{:,.0f}".format(-event.amount) }}</b> to <span style="color:#e06c1f">{{ event.name }}</span>
                          {% elif event.type == "charge.failed" %}
                          <span style="color:#e06c1f">{{ event.name }}</span>'s charge of <b>${{ "{:,.0f}".format(event.amount) }}</b> failed
                          {% elif event.type == "Upgrade" %}
                          <span style="color:#e06c1f">{{ event.name }}</span> upgraded to the <b>{{ event.plan }}</b>
                          {% elif event.type == "Downgrade" %}
                          <span style="color:#e06c1f">{{ event.name }}</span> downgraded to the <b>{{ event.plan }}</b>
                          {% elif event.type == "customer.subscription.created" %}
                          <span style="color:#e06c1f">{{ event.name }}</span> signed up for the <b>{{ event.plan }}</b>
                          {% elif event.type == "customer.subscription.deleted" %}
                          <span style="color:#e06c1f">{{ event.name }}</span> canceled their <b>{{ event.plan }}</b>
                          {% endif %}
                        </span>
                        <br>
                        <span class="time">{{ event.p_date }}</span>
                        {% if not loop.last %}
                            <hr>
                        {% endif %}
                    {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-md-8" style="margin-bottom:40px">
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <p>Monthly Recurring Revenue
                  <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom"
                     title="Monthly Recurring Revenue - Refunds"></i></p>
                </div>
                <div class="panel-body-metrics">
                    <span style="color:green">{{ "${:,.0f}".format(2848) }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <p>Refunds
                  <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="Amount You've Paid to Refunds" style=""></i></p>
                </div>
                <div class="panel-body-metrics">
                    <span style="color:red">{{ "${:,.0f}".format(364) }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <p>Net Revenue
                    <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="All Revenue (Recurring + Non-Recurring) - Refunds" style="background-color:#ffffff"></i></p>
                </div>
                <div class="panel-body-metrics">
                    <span style="color:#3498db">{{ "${:,.0f}".format(3165) }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <p>Total Customers
                  <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="Active Customers (Recurring) this month" style=""></i></p>
                </div>
                <div class="panel-body-metrics">
                    <span style="color:#3498db">{{ 147 }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <p>Avg Revenue Per User
                  <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="Monthly Recurring Revenue / Total Customers" style=""></i></p>
                </div>
                <div class="panel-body-metrics">
                    <span style="color:#3498db">{{ "${:,.0f}".format(19) }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <p>Failed Payments
                  <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="These are all the transactions that were attempted but didn't go through." style=""></i></p>
                </div>
                <div class="panel-body-metrics">
                    <span style="color:red">{{ 3 }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <p>Annual Run Rate
                  <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="Monthly Recurring Revenue * 12" style=""></i></p>
                </div>
                <div class="panel-body-metrics">
                    <span style="color:green">{{ "${:,.0f}".format(34176) }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <p>Lifetime Value
                  <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="Average Revenue Per User / User Churn" style=""></i></p>
                </div>
                <div class="panel-body-metrics">
                    <span style="color:#3498db">{{ "${:,.0f}".format(633) }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <p>User Churn
                  <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="Percentage of Customers Who Have Canceled Since Last Month (Cancellations / (Total Customers - New Customers))" style=""></i></p>
                </div>
                <div class="panel-body-metrics">
                    <span style="color:red">{{ "{:,.0f}".format(3) }}%</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <p>New Customers
                  <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="Number of New Customers (Recurring) who have signed up this month " style=""></i></p>
                </div>
                <div class="panel-body-metrics">
                    <span style="color:#3498db">{{ 14 }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <p>Cancellations
                  <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="Number of Cancellations This Month " style=""></i></p>
                </div>
                <div class="panel-body-metrics">
                    <span style="color:#3498db">{{ 4 }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <p>Upgrades
                  <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="Number of Upgrades This Month" style=""></i></p>
                </div>
                <div class="panel-body-metrics">
                    <span style="color:#3498db">{{ 12 }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <p>Downgrades
                  <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="Number of Downgrades This Month" style=""></i></p>
                </div>
                <div class="panel-body-metrics">
                    <span style="color:red">{{ 9 }}</span>
                </div>
              </div>
            </div>
        </div>
      </div>
{% endblock %}
