{% extends 'layouts/app.html' %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>Inbox - Parser</title>

    <!-- Google Analytics code -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118470858-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-118470858-1');
    </script>
    <!-- End of GA code -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cabin|Gotham|Gotham|Open+Sans|Comfortaa"
          rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="../../../page/templates/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" type="text/css" href="../../../../static/simple/css/compiled/theme.css">
    <!-- chartist CSS --
    <link href="../../../page/templates/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="../../../page/templates/assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">
    <link href="../../../page/templates/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <!--This page css - Morris CSS --
    <link href="../../../page/templates/assets/plugins/c3-master/c3.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../../page/templates/page/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <!--<link href="../../../page/templates/page/css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- MDL theme -->
    <link href="../BS4/assets/css/material-dashboard.css" id="theme" rel="stylesheet">
    <!-- Loader -->
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.4/dist/loadingoverlay.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

{% block litebody %}
<body class="card-no-border" style="font-family:'Gotham',sans-serif;overflow-y:auto;max-width:100%;overflow-x:hidden;width:100%;padding-bottom:0;">
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.4/dist/loadingoverlay.min.js"></script>
    <script>
    $(document).ready(function(){
        $.ajax({
            type: 'GET',
            url: "{{ url_for('user.update', emails_id=emails_id, route=route) }}",
            success: function(data) {
                if (data['route'] === 'refresh'){
                    //alert("refresh");
                    get_emails("{{ url_for('user.update', emails_id=emails_id,route=route) }}");
                }
                else if (data['route'] === 'inbox'){
                    //alert("inbox");
                }
            },
            error: function(error) {
                //alert('There was an unexpected error getting your emails. Please try again.\n' + JSON.stringify(error));
            }
        });

        function get_emails(url) {
            $.ajax(url).done(function () {

                $.getJSON(url, function(data) {

                    if (data['emails_state'] !== 'PENDING') {

                        if ('emails_result' in data ) {
                            display_emails(data['emails_result']);
                        }
                        else {
                            // something unexpected happened
                            alert("There was an error updating your data. Please try again.");
                        }
                    }
                    else {
                        // change to loader
                        //$('#emails_list').html('<img style="margin-top:-20px;margin-bottom:-20px;" src="../../../.' +
                            //'./static/images/loader.svg" />').fadeIn(1000);
                        $("#emails_table").LoadingOverlay("show", {
                            imageColor: "#007fd8"
                        });

                        // rerun every 1 second until the data is loaded
                        setTimeout(function() {
                            get_emails("{{ url_for('user.update', emails_id=emails_id, route=route) }}");
                        }, 5000);
                    }
                });
           });
        }


        function display_emails(data){

            var refresh_link = "{{ url_for('user.refresh') }}";
            var refresh_button = '<a href="' + refresh_link + '" class="refresh" style="background-color: #ffffff;border: none;float:none;color: #007fd8;padding: 15px 30px;' +
                'text-align: center;text-decoration: none;vertical-align:middle;line-height:100%;display: inline-block;font-size: 14px;margin: auto;margin-left:15px;' +
                'height:45px;cursor: pointer;">Refresh <img src="../../../../static/images/refresh2.png" width="16px"></a>';

            // Update the inbox count
            $("#inbox_count").html('Your Inbox (' + data.length + ') ' + refresh_button).fadeIn(1000);

            // Display the emails
            var email_html = '';
                for( var i=0; i <data.length; i++) {

                    var email = data[i]['id'];
                    var parse_url = "{{url_for('user.parse', email_id='DUMMY_VALUE') }}";
                    var actual_parse_url = parse_url.replace(/DUMMY_VALUE/, email);

                    email_html += '<tr style="height:60px;" valign="middle"><td style="vertical-align:middle">' +
                        '<input id="delete" name="delete" type="checkbox" class="checkbox" value="' + data[i]["id"] + '" onclick="Checked(this)"/>' +
                        '</td><td style="vertical-align:middle">' + data[i]["sender"] + '</td><td style="vertical-align:middle">' + data[i]["subject"] + '</td>' +
                        '<td style="vertical-align:middle">' + data[i]["date"] + '</td><td style="vertical-align:middle">';

                    if(data[i]["parsed"] === true){
                        email_html += '<span class="label label-success">Parsed</span></td><td style="vertical-align:middle">';
                    }
                    else if(data[i]["parsed"] === false){
                        email_html += '<span class="label label-danger">Not Parsed</span></td><td style="vertical-align:middle">' +
                            '<a href="' + actual_parse_url + '" style="border:1px solid; border-radius:4px;padding:10px;">Parse</a>';
                    }

                 }
                email_html += '</td></tr>';
                //$('#emails_list').fadeOut(1000, function() {
                $("#emails_table").LoadingOverlay("hide", true);
                $("#emails_list").html(email_html).fadeIn(1000);

                //});
        }

    });
    </script>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <!--<div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>-->
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" style="overflow:auto;width:85%;height:100%;margin:auto;">
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper" style="height:100%">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid" style="height:100%">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <br >
                <div class="row" style="padding-top:30px;color:#007fd8;margin-bottom:30px;">
                    <div style="float:right;font-family: 'Gotham', sans-serif;">
                       Welcome, Guest!
                    </div>
                </div>
                <hr />
                <div class="row" style="padding-top:30px;color:#007fd8">
                    <div class="col-lg-14">
                        <div class="card-lite" style="min-height: 180px; margin-bottom:30px;
                          min-width: 250px;
                          border-color: #d7dfe3;
                          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
                          border-radius: 8px;
                          background-color:#fff;">
                            <div class="card-block bg-info" style="background-color: #1e88e5 !important;
                            flex: 1 1 auto; padding: 1.25rem;">
                                <h4 class="text-white card-title" id="inbox_count" style="color: #ffffff !important;font-weight: 400;">
                                    Your Inbox ({{ emails|length }})
                                    <a href="{{ url_for('user.refresh') }}" class="refresh" style="background-color: #ffffff;
                                                                                border: none;
                                                                                float:none;
                                                                                color: #007fd8;
                                                                                padding: 15px 30px;
                                                                                text-align: center;
                                                                                text-decoration: none;
                                                                                vertical-align:middle;
                                                                                line-height:100%;
                                                                                display: inline-block;
                                                                                font-size: 14px;
                                                                                margin: auto;
                                                                                margin-left:15px;
                                                                                height:45px;
                                                                                cursor: pointer;">
                                       Refresh <img src="../../../../static/images/refresh2.png" width="16px">
                                    </a>
                                </h4>
                            </div>
                            <form action="{{ url_for('user.delete_emails') }}" method="POST" id="delete_email" name="delete_email">
                                <div class="card-block" id="emails_table" style="flex: 1 1 auto;padding: 5.25rem;outline: none;overflow-x:auto">
                                    <table class="table">
                                        <thead>
                                            <tr style="font-weight:bold;">
                                                <td></td>
                                                <td>From</td>
                                                <td>Subject</td>
                                                <td>Date</td>
                                                <td>Status</td>
                                                <td>Actions</td>
                                            </tr>
                                        </thead>
                                        <tbody id="emails_list">
                                            {% for email in emails %}
                                                <tr style="height:60px;" valign="middle">
                                                    <td style="vertical-align:middle">
                                                        <input id="delete" name="delete" type="checkbox" class="checkbox" value="{{ email.id }}" onclick="Checked(this)"/>
                                                    </td>
                                                    <td style="vertical-align:middle">{{ email.sender }}</td>
                                                    <td style="vertical-align:middle">{{ email.subject }}</td>
                                                    <td style="vertical-align:middle">{{ email.date }}</td>
                                                    <td style="vertical-align:middle">
                                                        {% if email.parsed == 1 %}
                                                            <span class="label label-success">Parsed</span>
                                                        {% elif email.parsed == 0 %}
                                                            <span class="label label-danger">Not Parsed</span>
                                                        {% endif %}
                                                    </td>
                                                    <td style="vertical-align:middle">
                                                        {% if email.parsed == 0 %}
                                                            <a href="{{ url_for('user.parse', email_id=email.id) }}"
                                                               style="border:1px solid; border-radius:4px;padding:10px;">Parse</a>
                                                        {% endif %}
                                                    </td>
                                                </tr>

                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <button type="submit" form="delete_email" class="delete_email_button" name="delete_email_button" id="delete_email_button"
                                            style="background-color: #FF0000;
                                                    border: none;
                                                    float:none;
                                                    color: white;
                                                    padding: 15px 32px;
                                                    text-align: center;
                                                    text-decoration: none;
                                                    display: none;;
                                                    font-size: 16px;
                                                    margin: auto;
                                                    cursor: pointer;">
                                       Delete emails
                                    </button>
                                </div>
                            </form>
                        </div> <!-- End contacts -->
                    </div>
                </div>
                <!-- Row -->
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../../../page/templates/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../../../page/templates/assets/plugins/bootstrap/js/tether.min.js"></script>
    <script src="../../../page/templates/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../../../page/templates/lite/js/jquery.slimscroll.js"></script>
    <!--Custom JavaScript -->
    <script src="../../../page/templates/lite/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- chartist chart --
    <script src="../../../page/templates/assets/plugins/chartist-js/dist/chartist.min.js"></script>
    <script src="../../../page/templates/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!--c3 JavaScript --
    <script src="../../../page/templates/assets/plugins/d3/d3.min.js"></script>
    <script src="../../../page/templates/assets/plugins/c3-master/c3.min.js"></script>
    <!-- Chart JS --
    <script src="../../../page/templates/lite/js/dashboard1.js"></script>
    <!-- end Chart JS -->
    <script type="text/javascript">

        $('#delete_email').submit(function() {
            var to_delete = document.getElementsByClassName("checkbox");
            var count = 0;

            for(var i = 0; i < to_delete.length; i++) {
                if (to_delete[i].checked) {
                    count++;
                }
            }

            if (count === 0) {
                return false;
            }

            return confirm("Are you sure? This can't be undone.");
        });

        function Checked(sel) {
            var to_delete = document.getElementsByClassName("checkbox");
            var count = 0;

            for(var i = 0; i < to_delete.length; i++) {
                if (to_delete[i].checked) {
                    count++;
                }
            }

            if (count === 0) {
                document.getElementById('delete_email_button').style.display = 'none';
            }
            else {
                // Show the save button
                document.getElementById('delete_email_button').style.display = 'inline-block';
                document.getElementById('delete_email_button').innerText = 'Delete (' + count + ') emails';
            }

            // Show and hide the body
            var element = document.getElementById(sel.value.toString() + '_body');
            if (element.style.display === 'none') {
                element.style.display = 'inline-block';
            }
            else {
                element.style.display = 'none';
            }

        }
    </script>
</body>
{% endblock %}
