{% extends 'layouts/app.html' %}

{% block title %}My Settings - Parsavvy{% endblock %}
{% block body %}
 {% if current_user.mailbox_id %}
    <div class="row" style="overflow-x:hidden">
        <div class="col-md-12" style="overflow-x:hidden;">
            <div class="list-group">
              <div class="list-group-item" style="text-align:center">
                  {% if mailbox_id is not none %}
                      Please forward all emails to:
                      <h1><b><span style="color:red">{{ mailbox_id }}</span>@mg.parsavvy.com</b></h1>
                  {% else %}
                      You don't have an inbox yet.
                  {% endif %}
              </div>
            </div>
        </div>
    </div>
  {% endif %}
  <div class="row" style="overflow-x:hidden">
    <div class="col-md-5" style="overflow-x:hidden">
      <h3>Settings</h3>
      <h4 class="text-muted margin-bottom">{{ current_user.email }}</h4>
      <div class="list-group">
        <a href="{{ url_for('user.update_credentials') }}"
           class="list-group-item">
          Update email and password
        </a>
        {% if current_user.username %}
          <span class="list-group-item quarter-faded text-muted">
            Your username is
            <strong>{{ current_user.username }}</strong>
          </span>
        {% else %}
          <a href="{{ url_for('user.welcome') }}"
             class="list-group-item">
            Pick a username
          </a>
        {% endif %}
      </div><hr />
        <h3>Your Inboxes</h3>
        <h4 class="text-muted margin-bottom">{{ mailbox_count }} of {{ mailbox_limit }} mailboxes used</h4>
        <div class="list-group">
            <div class="list-group-item">
                {% if email_count == 1 %}
                    You have used {{ email_count }} email of your <span style="color:red">{{ email_limit }}</span> email limit.
                {% else %}
                    You have used {{ email_count }} emails of your <span style="color:red">{{ email_limit }}</span> email limit.
                    {% if email_count == email_limit %}
                        Please <a href="{{ url_for('billing.update') }}">upgrade</a> to get more.
                    {% endif %}
                {% endif %}
            </div>
            <a href="{{ url_for('user.get_inbox') }}" class="list-group-item">
              Create an inbox
            </a>
            {% if mailboxes|length > 0 %}
            <form action="{{ url_for('user.switch_mailboxes') }}" method="POST" id="mailbox" name="mailbox">
                <div class="list-group-item">
                    Select an inbox:&nbsp;
                    <select id="mailboxes" name="mailboxes" onchange="this.form.submit()">
                        {% for mailbox in mailboxes %}
                            {% if mailbox[0] == current_user.mailbox_id %}
                                <option value="{{ mailbox[0] }}" id="mailbox_id" name="mailbox_id" selected>{{ mailbox[0] }} - {{ mailbox[1] }} emails</option>
                            {% else %}
                                <option value="{{ mailbox[0] }}" id="mailbox_id" name="mailbox_id">{{ mailbox[0] }} - {{ mailbox[1] }} emails</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
    <div class="col-md-5 col-md-push-1 col-md-offset-1">
      {% if current_user.subscription %}
        <h3> Parsavvy {{ current_user.subscription.plan | title }}
          Plan</h3>
        <h4 class="text-muted margin-bottom">
          {{ current_user.credit_card.brand }}
          ****{{ current_user.credit_card.last4 }}
          ({{ current_user.credit_card.exp_date.strftime('%m/%Y') }})
        </h4>

        <div class="list-group">
          <a class="list-group-item"
             href="{{ url_for('billing.update_payment_method') }}">
            Update payment info
          </a>
          <a class="list-group-item"
             href="{{ url_for('billing.billing_details') }}">
            Billing details
          </a>
          <a class="list-group-item"
             href="{{ url_for('billing.update') }}">
            Change plan
          </a>
          <a class="list-group-item"
             href="{{ url_for('billing.cancel') }}">
            <span class="text-muted" style="color:red">Delete my account</span>
          </a>
        </div>
      {% else %}
          {% if trial_days_left == -1 %}
              <h3>Your trial has <span style="color:red">expired</span>.</h3>
          {% elif trial_days_left == 0 %}
              <h3>Your trial <span style="color:red">expires</span> today.</h3>
          {% elif trial_days_left == 1 %}
              <h3>Your trial ends in <span style="color:red">1</span> day.</h3>
          {% else %}
              <h3>Your trial will end in <span style="color:red">{{ trial_days_left }}</span> days.</h3>
          {% endif %}

        <p>
          Since you've created an account, now would be the perfect time
          to sign up for a plan to make sure you'll still be able to parse
            emails after your trial ends!
        </p>
        <p>
          Click below and choose the plan that best fits your needs.
        </p>
        <a href="{{ url_for('billing.pricing') }}"
           class="btn btn-primary">Choose a Plan</a>
        <hr/>
          <div class="list-group">
            <a class="list-group-item" href="{{ url_for('billing.cancel') }}">
                <span class="text-muted" style="color:red">Delete my account</span>
            </a>
          </div>
        {% if current_user.invoices %}
          <h3>Previous subscription info</h3>
          <div class="list-group">
            <a class="list-group-item"
              href="{{ url_for('billing.billing_details') }}">
              Billing details
            </a>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
