{% extends 'layouts/app.html' %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>View Email - Parser</title>

    <!-- Google Analytics code -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118470858-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-118470858-1');
    </script>
    <!-- End of GA code -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cabin|Gotham|Gotham|Open+Sans|Comfortaa"
          rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <!--link href="../../../page/templates/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" type="text/css" href="../../../../static/simple/css/compiled/theme.css">
    <!-- chartist CSS --
    <link href="../../../page/templates/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="../../../page/templates/assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">
    <link href="../../../page/templates/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <!--This page css - Morris CSS --
    <link href="../../../page/templates/assets/plugins/c3-master/c3.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <!--link href="../../../page/templates/page/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <!--<link href="../../../page/templates/page/css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- MDL theme -->
    <!--link href="../BS4/assets/css/material-dashboard.css" id="theme" rel="stylesheet">
    <!-- Loader -->
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.4/dist/loadingoverlay.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

{% block litebody %}
<body class="card-no-border" style="font-family:'Gotham',sans-serif;overflow-y:auto;max-width:100%;overflow-x:hidden;width:100%;padding-bottom:0;">
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.4/dist/loadingoverlay.min.js"></script>

    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <!--<div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>-->
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" style="overflow:auto;width:85%;height:100%;margin:auto;">
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper" style="height:100%">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid" style="height:100%">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                {{ flash.render() }}
                <br >
                <div class="row" style="padding-top:10px;color:#606060;margin-bottom:30px;">
                    <div style="float:right;font-family: 'Gotham', sans-serif;">
                       {{mailbox_id }}@mg.simpleytics.com
                    </div>
                </div>
                <hr />
                <h3 style="color:#606060">Email: {{ email.subject }}</h3>
                <div class="row" style="padding-top:30px;color:#606060">
                    <div class="col-lg-14">
                        <div class="card-lite" style="min-height: 180px; width:70%; margin:0 auto; float:none; margin-bottom:30px;
                          min-width: 250px;
                          border-color: #d7dfe3;
                          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
                          border-radius: 8px;
                          background-color:#fff;">
                            <div class="card-block bg-info" style="background-color: #1e88e5 !important;
                            flex: 1 1 auto; padding: 1.25rem;">
                                <h4 class="text-white card-title" id="inbox_count" style="color: #ffffff !important;font-weight: 400;">
                                    View Email
                                    <a href="{{ url_for('user.inbox') }}" class="refresh" style="background-color: #ffffff;
                                                                                border: none;
                                                                                float:none;
                                                                                color: #007fd8;
                                                                                padding: 15px 30px;
                                                                                text-align: center;
                                                                                text-decoration: none;
                                                                                vertical-align:middle;
                                                                                line-height:100%;
                                                                                display: inline-block;
                                                                                font-size: 14px;
                                                                                margin: auto;
                                                                                margin-left:15px;
                                                                                height:45px;
                                                                                cursor: pointer;">
                                       Back to Inbox
                                    </a>
                                </h4>
                            </div>
                            <div class="card-block" id="email" style="flex: 1 1 auto;padding: 5.25rem;outline: none;overflow-x:auto;">
                                From: {{ email.sender }}<br />
                                Subject: {{ email.subject }}<br />
                                Date: {{ email.date }}<br />
                                {% if email.cc is not none %}
                                    Cc: {{ email.cc }}
                                {% endif %}
                                <div style="word-wrap:break-word;white-space:pre-wrap">
                                    {{ email.body }}
                                </div><br />
                                <a href="{{ url_for('user.inbox') }}" style="background-color: #007fd8;
                                                                        border: none;
                                                                        float:none;
                                                                        color: white;
                                                                        padding: 15px 32px;
                                                                        text-align: center;
                                                                        text-decoration: none;
                                                                        display: inline-block;
                                                                        font-size: 16px;
                                                                        margin: auto;
                                                                        cursor: pointer;">
                                    Back to Inbox
                                </a>
                            </div>
                        </div> <!-- End contacts -->
                    </div>
                </div>
                <!-- Row -->
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../../../page/templates/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../../../page/templates/assets/plugins/bootstrap/js/tether.min.js"></script>
    <script src="../../../page/templates/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../../../page/templates/lite/js/jquery.slimscroll.js"></script>
    <!--Custom JavaScript -->
    <script src="../../../page/templates/lite/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- chartist chart --
    <script src="../../../page/templates/assets/plugins/chartist-js/dist/chartist.min.js"></script>
    <script src="../../../page/templates/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!--c3 JavaScript --
    <script src="../../../page/templates/assets/plugins/d3/d3.min.js"></script>
    <script src="../../../page/templates/assets/plugins/c3-master/c3.min.js"></script>
    <!-- Chart JS --
    <script src="../../../page/templates/lite/js/dashboard1.js"></script>
    <!-- end Chart JS -->

</body>
{% endblock %}
